.button {
  border: none;
  color: #ffffff;
  padding: 15px 30px;
  font-size: 16px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.primary {
  background-color: #2b27e7;
}
.secondary {
  background-color: #E5F9F8;
  color: #7B7B7B;
}
.success {
  background-color: #37d300;
}
.warning {
  background-color: #ec7303;
}
.danger {
  background-color: #d3000d;
}
.tertiary {
  background-color: #ffffff;
  color: #777777;
}
