.Headingone {
  font-size: 40px;
}
.Headingtwo {
  font-size: 28px;
}
.Headingthree {
  font-size: 22px;
}
.Headingfour {
  font-size: 16px;
}
.Headingfive {
  font-size: 14px;
}
.Headingsix {
  font-size: 12px;
}
.Small {
  font-size: 10px;
}
